!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
  %body
    %a{:href => '/'} Back
    %p= coinid
    %br
    You've got #{amount} #{symbol}!
    %br
    Faucet balance: #{balance} #{symbol}
