!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nil }
  %body
    %a{:href => '/auth/twitter'} Login with Twitter
    %br
    %a{:href => '/auth/github'} Login with GitHub
    %br
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid.to_s]['symbol']
      %p #{coinid}: #{"%.4f" % balance} #{sym}
