!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nil }
  %body
    - providers.each do |providerid, provider|
      - name = provider['name']
      %a{:href => "/auth/#{providerid}"} Login with #{name}
      %br
    %p The total number of accounts: #{accounts.size}
    Ripple ledger: #{ledger}
    %br
