!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
  %body
    %a{:href => '/logout'} Logout
    %a{:href => '/profile'} Profile
    - if message
      %p#message= h message
    %p Hello @#{nickname}! (#{accountid})
    - dtag = Digest::MD5.digest(accountid).unpack('V')[0] & 0x7fffffff
    - coinids.each do |key|
      - coin = coins[key]
      - sym = coin[:symbol]
      - coinname = key.to_s[0, 1].upcase + key.to_s[1..-1]
      - price = prices[sym.to_sym] || { :bid => 0, :ask => 0 }
      - ticker = "Bid %.3f XRP, Ask %.3f XRP" % [price[:bid], price[:ask]]
      %p #{coinname} ( #{ticker} )
      - balance = coin[:balance]
      - progress = coin[:balance0] - balance
      - pstr = progress > 0 ? (" (%.4f #{sym})" % progress) : ''
      - addr = coin[:addr]
      - unless addr
        Offline
        %hr
        - next
      Your balance: #{"%.4f" % balance} #{sym}#{pstr}
      %ul
        %li
          %a{:href => "/deposit?coinid=#{key}"} Deposit
        - if balance > 0.06
          %li
            %a{:href => "/withdraw?coinid=#{key}&balance=#{balance}"} Withdraw
          %li
            %a{:href => "/donate?coinid=#{key}"} Donate to faucet
        %li
          %a{:href => "/faucet?coinid=#{key}"} Get from faucet
        %li
          - to = rippleiou
          - amount = 1000
          = partial :trust, :locals => { :sym => sym, :coinname => coinname, :to => to, :amount => amount }
        - if balance > 0.0001
          %li
            %a{:href => "/coin2iou?coinid=#{key}&balance=#{balance}"} Convert to IOU(Ripple)
        %li
          - to = rippleiou
          - amount = 1
          = partial :iou2coin, :locals => { :sym => sym, :coinname => coinname, :to => to, :amount => amount, :dtag => dtag }
        %li
          %a{:href => "/history?coinid=#{key}"} History
      %hr
    %p Ripple
    Your address: #{rippleaddr}
    %ul
      %li
        - to = ripplefaucet
        %a{:href => "https://ripple.com//send?to=#{to}&amount=10", :target => '_blank'} Donate to faucet
      %li
        %a{:href => "/faucetxrp"} Get from faucet
      %li
        %a{:href => "/buyxrp"} Buy XRP
    %hr
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid][:symbol]
      %p #{coinid}: #{"%.4f" % balance} #{sym}
