!!!
%html
  %head
    %title Wallet
  %body
    %a{:href => '/logout'} Logout
    %a{:href => '/profile'} Profile
    %p Hello @#{nickname}!
    - coins.each do |key, coin|
      %p= key
      - balance = coin[:balance]
      - progress = coin[:balance0] - balance
      - addr = coin[:addr]
      - sym = coin[:symbol]
      %p Your balance: #{balance} #{sym} (#{accountid}) (#{progress} #{sym})
      %p Your deposit address: #{addr}
      %a{:href => "/withdraw?coinid=#{key}"} Withdraw
