!!!
%html
  %head
    %title Wallet
  %body
    %a{:href => '/logout'} Logout
    %p Hello @#{nickname}!
    %p Your balance: #{balance} SKR (#{accountid})
    %p (Your balance0: #{balance0} SKR)
    %p Your address: #{addr}
