!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
  %body
    %a{:href => '/logout'} Logout
    %a{:href => '/profile'} Profile
    - if message
      %p= h message
    %p Hello @#{nickname}! (#{accountid})
    - dtag = Digest::MD5.digest(accountid).unpack('V')[0] & 0x7fffffff
    - qrad = 'https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl='
    - coinids.each do |key|
      - coin = coins[key]
      - coinname = key.to_s[0, 1].upcase + key.to_s[1..-1]
      %p= coinname
      - balance = coin[:balance]
      - progress = coin[:balance0] - balance
      - sym = coin[:symbol]
      - pstr = progress > 0 ? (" (%.4f #{sym})" % progress) : ''
      - addr = coin[:addr]
      Your balance: #{"%.4f" % balance} #{sym}#{pstr}
      %ul
        %li
          %a{:href => "/withdraw?coinid=#{key}"} Withdraw
        %li
          %a{:href => "/donate?coinid=#{key}"} Donate to faucet
        %li
          %a{:href => "/faucet?coinid=#{key}"} Get from faucet
        %li
          - to = ripplefaucet
          - amount = 1000
          = partial :trust, :locals => { :sym => sym, :coinname => coinname, :to => to, :amount => amount }
        %li
          %a{:href => "/coin2iou?coinid=#{key}"} Convert to IOU(Ripple)
        %li
          - to = ripplefaucet
          - amount = 1
          = partial :iou2coin, :locals => { :sym => sym, :coinname => coinname, :to => to, :amount => amount, :dtag => dtag }
      %br
      Your deposit address: #{addr}
      %br
      %img{:src => "#{qrad}#{addr}"}
      %hr
    %p Ripple (status: #{ripplestatus})
    Your address: #{rippleaddr}
    %ul
      %li
        - to = ripplefaucet
        %a{:href => "https://ripple.com//send?to=#{to}&amount=10", :target => '_blank'} Donate to faucet
      %li
        %a{:href => "/faucetxrp"} Get from faucet
      %li
        %a{:href => "/buyxrp"} Buy XRP
    %hr
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid][:symbol]
      %p #{coinid}: #{"%.4f" % balance} #{sym}
