!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
  %body
    %a{:href => '/logout'} Logout
    %a{:href => '/profile'} Profile
    %p Hello @#{nickname}! (#{accountid})
    - qrad = 'https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl='
    - coinids.each do |key|
      - coin = coins[key]
      %p= key
      - balance = coin[:balance]
      - progress = coin[:balance0] - balance
      - sym = coin[:symbol]
      - pstr = progress > 0 ? (" (%.4f #{sym})" % progress) : ''
      - addr = coin[:addr]
      Your balance: #{"%.4f" % balance} #{sym}#{pstr}
      %a{:href => "/withdraw?coinid=#{key}"} Withdraw
      %a{:href => "/donate?coinid=#{key}"} Donate to faucet
      %a{:href => "/faucet?coinid=#{key}"} Get from faucet
      %br
      Your deposit address: #{addr}
      %br
      %img{:src => "#{qrad}#{addr}"}
      %hr
    %p Ripple
    Your address: #{rippleaddr}
    %hr
    %p The total number of accounts: #{accounts.size}
    - balances.each do |coinid, balance|
      - sym = coins[coinid][:symbol]
      %p #{coinid}: #{"%.4f" % balance} #{sym}
