- name = "#{coinname} Issuer".gsub(' ', '%20')
- label = "To send #{coinname} to your account at Coin Wallet".gsub(' ', '%20')
- amountstr = "#{amount}/#{sym}"
- url = "https://ripple.com//send?to=#{to}&name=#{name}&label=#{label}&amount=#{amountstr}&dt=#{dtag}"
%a{:href => url, :target => '_blank'}= t 'fromiou'
