- name = "#{coinname} Issuer".gsub(' ', '%20')
- label = "To receive and trade #{coinname} in ripple".gsub(' ', '%20')
- amountstr = "#{amount}/#{sym}"
%a{:href => "https://ripple.com//trust?to=#{to}&name=#{name}&label=#{label}&amount=#{amountstr}", :target => '_blank'} Trust #{coinname} IOU(Ripple)
