!!!
%html
  %head
    = partial :htmlheader, :locals => { :nickname => nickname }
    %script{:src => "/js/withdraw.js", :type => "text/javascript"}
  %body
    %p The sender's address will not be the one you use to receive funds. 
    %a{:href => '/'} Back
    %form{:action => '/withdraw', :method => :post}
      %p= coinid
      - payouttoid = "#{coinid}_payoutto"
      %label{:for => payouttoid} Payout To
      %input{:id => payouttoid, :type => :text, :name => :payoutto,
          :size => 34, :value => payoutto}
      %input#coinid{:type => :hidden, :name => :coinid, :value => coinid}
      %input{:type => :hidden, :name => :csrftoken, :value => csrftoken}
      %br
      %label{:for => :amount} Amount
      %input{:id => :amount, :type => :text, :name => :amount, :value => 0}
      = symbol
      ( + fee #{fee} #{symbol} )
      %br
      Balance:
      %span#balance
      #{symbol}
      %br
      %input{:type => :submit}
